<module>
	<rawname>languages</rawname>
	<repo>extended</repo>
	<name>Languages</name>
	<version>2.10.0.0</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<category>Applications</category>
	<description>
		Adds the ability to changes the language within a call flow and add language attribute to users.
	</description>
	<menuitems>
		<languages>Languages</languages>
	</menuitems>
	<changelog>
		*2.10.0.0* new version changes
	  *2.9.0.3* #5312, #5313
	  *2.9.0.2* #4914
	  *2.9.0.1* set repository
	  *2.9.0.0* #4657, #4655
	</changelog>
	<depends>
		<version>2.5.0alpha1</version>
	</depends>
	<location>release/2.10/languages-2.10.0.0.tgz</location>
	<md5sum>7b8f546ae3d5ca552a003fb1f0468aac</md5sum>
<supported><version>2.10</version></supported></module>
