<module>
	<rawname>languages</rawname>
	<name>Languages</name>
	<version>0.8.0</version>
	<type>setup</type>
	<category>Internal Options &amp; Configuration</category>
	<description>
		Adds the ability to changes the language within a call flow and add language attribute to users.
	</description>
	<menuitems>
		<languages>Languages</languages>
	</menuitems>
	<changelog>
		*0.8.0* First release of module
	</changelog>
	<location>release/2.4/languages-0.8.0tgz</location>
	<md5sum>b05759ac4981e263fd4b8606283c7a8a</md5sum>
</module>
